@import-normalize;

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;

  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

b {
  font-weight: 500;
}
